body {
    background-color: lightblue;
}
.container {
    width: 90vw;
    margin: 5rem 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: white;
    border-radius: 0.25rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);;
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.card img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);;
}

button {
    color: black;
    display: block;
    width: 100%;
    border-color: transparent;
    background-color: pink;
    margin: 2rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1.4rem;
    padding: 8px 0;
    letter-spacing: .1rem;
    border-radius: 20px;
    cursor: pointer;
}